body {
  background-color:#e5e4e2;
}

h1.jumbotron {
  background-color:#ffe699 ;
  margin-top: 0;
}

.row-test{
display: flex;
}

.test{
flex: 1;
}

#about {
flex: 1;
padding-left: 3vh;
margin-top: .5vh;
background-color: #8fbc8f;
}

.aboutHeaders {
color: #ecc679;
}

.blackNames {
color: Black;
}

.whiteNames{
color: White;
}

#username {
color: #C46B41;
}

#numberList {
  color: blue;
  font-family: Courier;
  margin-top: 5vh;
  font-size: large;
}

img {
  width: auto;;
  height: 3vh;
  margin-left: 1vh;
}
